#! perl  <-- get vim to syntax highlight properly

$CONFIG{'owner'}       = 'Peter Palfrader';
$CONFIG{'email'}       = 'peter@palfrader.org';
$CONFIG{'keyid'}       = [ qw{DE7AAF6E94C09C7F 62AF4031C82E0039} ];
$CONFIG{'also-encrypt-to'} = 'DE7AAF6E94C09C7F';
$CONFIG{'caffhome'}    = $ENV{'HOME'}.'/.caff';

$CONFIG{'gpg-delsig'}    = '/home/weasel/tmp/gpg/gnupg-1.3.6/g10/gpg';

$CONFIG{'secret-keyring'} = '/tmp/gpg/secring.gpg';
