Source: signing-party
Section: misc
Priority: extra
Maintainer: Guilhem Moulin <guilhem@guilhem.org>
Uploaders: Simon Richter <sjr@debian.org>,
 Franck Joncourt <franck@debian.org>,
 Thijs Kinkhorst <thijs@debian.org>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.9.5
Homepage: http://pgp-tools.alioth.debian.org/
Vcs-Svn: svn://svn.debian.org/svn/pgp-tools/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pgp-tools

Package: signing-party
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}, gnupg,
 libgnupg-interface-perl, libtext-template-perl, libmime-tools-perl,
 libmailtools-perl, libterm-readkey-perl, libclass-methodmaker-perl,
 libnet-idn-encode-perl, qprint
Recommends: default-mta | mail-transport-agent, libpaper-utils,
 libgd-gd2-noxpm-perl | libgd-gd2-perl,
 libtext-iconv-perl | libintl-perl | recode, dialog | whiptail
# springraph
Suggests: imagemagick | graphicsmagick-imagemagick-compat, wipe, mutt,
 texlive-latex-recommended, texlive-xetex, fonts-droid
Provides: sig2dot, springgraph, keyanalyze
Description: Various OpenPGP related tools
 signing-party is a collection for all kinds of PGP/GnuPG related things,
 including tools for signing keys, keyring analysis, and party preparation.
 .
  * caff: CA - Fire and Forget signs and mails a key
  * pgp-clean: removes all non-self signatures from key
  * pgp-fixkey: removes broken packets from keys
  * gpg-mailkeys: simply mail out a signed key to its owner
  * gpg-key2ps: generate PostScript file with fingerprint paper strips
  * gpgdir: recursive directory encryption tool
  * gpglist: show who signed which of your UIDs
  * gpgsigs: annotates list of GnuPG keys with already done signatures
  * gpgparticipants: create list of party participants for the organiser
  * gpgwrap: a passphrase wrapper
  * keyanalyze: minimum signing distance (MSD) analysis on keyrings
  * keylookup: ncurses wrapper around gpg --search
  * sig2dot: converts a list of GnuPG signatures to a .dot file
  * springgraph: creates a graph from a .dot file
