Source: signing-party
Section: misc
Priority: extra
Maintainer: Thijs Kinkhorst <thijs@debian.org>
Uploaders: Simon Richter <sjr@debian.org>, Peter Palfrader <weasel@debian.org>, Christoph Berg <myon@debian.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.0
Homepage: http://pgp-tools.alioth.debian.org/
Vcs-Svn: svn://svn.debian.org/svn/pgp-tools
Vcs-Browser: http://svn.debian.org/wsvn/pgp-tools

Package: signing-party
Section: misc
Architecture: any
Depends: gnupg, libgnupg-interface-perl, libtext-template-perl, libmime-tools-perl, libmailtools-perl, ${shlibs:Depends}
Recommends: exim4 | mail-transport-agent, libtext-iconv-perl | libintl-perl | recode, dialog | whiptail, libpaper-utils,
# springraph
 libgd-gd2-noxpm-perl | libgd-gd2-perl
Suggests: imagemagick | graphicsmagick-imagemagick-compat,
# keyanalyze
 mutt
Replaces: keylookup (<< 3.0), sig2dot (<< 1), springgraph (<< 1), keyanalyze (<< 0.1)
Conflicts: keylookup (<< 3.0), sig2dot (<< 1), springgraph (<< 1), keyanalyze (<< 0.1)
Provides: sig2dot, springgraph, keyanalyze
Description: Various OpenPGP related tools
 signing-party is a collection for all kinds of PGP/GnuPG related things,
 including tools for signing keys, keyring analysis, and party preparation.
 .
  * caff: CA - Fire and Forget signs and mails a key
  * pgp-clean: removes all non-self signatures from key
  * pgp-fixkey: removes broken packets from keys
  * gpg-mailkeys: simply mail out a signed key to its owner
  * gpg-key2ps: generate PostScript file with fingerprint paper strips
  * gpglist: show who signed which of your UIDs
  * gpgsigs: annotates list of GnuPG keys with already done signatures
  * gpgparticipants: create list of party participants for the organiser
  * keyanalyze: minimum signing distance (MSD) analysis on keyrings
  * keylookup: ncurses wrapper around gpg --search
  * sig2dot: converts a list of GnuPG signatures to a .dot file
  * springgraph: creates a graph from a .dot file

Package: keyanalyze
Architecture: all
Depends: signing-party (>= 1.1)
Description: transitional package to pull in signing-party
 This is an empty package to pull in signing-party in which keyanalyze is
 now included. It can safely be removed.

Package: sig2dot
Section: graphics
Architecture: all
Depends: signing-party (>= 1.0)
Description: transitional package to pull in signing-party
 This is an empty package to pull in signing-party in which sig2dot is
 now included. It can safely be removed.

Package: springgraph
Section: graphics
Architecture: all
Depends: signing-party (>= 1.0)
Description: transitional package to pull in signing-party
 This is an empty package to pull in signing-party in which springgraph is
 now included. It can safely be removed.
