#!/usr/bin/make -f

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch $@

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	$(MAKE) clean
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_install
	dh_installman */*.1
	install -d $(CURDIR)/debian/signing-party/usr/share/doc/signing-party/caff
	install caff/README \
		caff/README.gpg-agent \
		caff/README.many-keys \
		caff/README.v3-keys \
		caff/caffrc.sample \
			$(CURDIR)/debian/signing-party/usr/share/doc/signing-party/caff
	install -d $(CURDIR)/debian/signing-party/usr/share/doc/signing-party/keylookup
	install keylookup/NEWS $(CURDIR)/debian/signing-party/usr/share/doc/signing-party/keylookup

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installmenu
	dh_installcron
	dh_installinfo
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary install configure
